{
    "presets": [
      ["@babel/preset-env", { "targets": { "node": "current" } }],
      ["@babel/preset-react", { "runtime": "automatic" }]
    ],
    "env": {
      "development": {
        "presets": [
          ["@babel/preset-react", { "runtime": "automatic" }]
        ]
      },
      "production": {
        "presets": [
          ["@babel/preset-react", { "production": true,"runtime": "automatic" }]
        ]
      }
    }
  }
  