SECRET_KEY="SECRET_KEY"
DEBUG=True
DB_NAME="modernman"
DB_USER="user"
DB_PASSWORD="password"
DB_HOST="127.0.0.1"
ALLOWED_HOSTS=".localhost", ".herokuapp.com", ".127.0.0.1"
DISABLE_COLLECTSTATIC=1
STRIPE_SECRET_KEY="abcecsdicniusdnciusdncudsn"
STRIPE_PUBLISHABLE_KEY="abcecsdicniusdnciusdncudsn"
MPESA_CONSUMER_KEY="abcecsdicniusdnciusdncudsn"
MPESA_CONSUMER_SECRET="abcecsdicniusdnciusdncudsn"
MPESA_ENV="sandbox or production" 
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'your_smtp_host'  # SMTP Bucket API host
EMAIL_PORT = 587  # SMTP port (usually 587 for TLS)
EMAIL_HOST_USER = 'your_smtp_username'  # SMTP username
EMAIL_HOST_PASSWORD = 'your_smtp_password'  # SMTP password
EMAIL_USE_TLS = True  # Use TLS for secure connection